<html>
<head>
  <title>Nothing here</title>
</head>
<body>
<h1>Nothing here</h1>
  <p>There is nothing present in the table. Try again</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
